* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272829;
}

#parent {
    display: inline-block;
    margin: 20% 30%;
}

.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #ADC4CE;
}

#one {
    position: absolute;
    margin-top: -44px;
    margin-left: 143px;
    margin-top: -30px;
    border: solid;
    border-radius: 20px;
    width: 121px;
    height: 55px;
    */
}

#two {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: solid;
}