* {
    box-sizing: border-box;
    margin-left: 0;
    padding: 0;
}

body {
    background-color: #A1CCD1;
}

div p {
    color: #6C3428;
}

/* este combinador es el que venimos usando le indica al ordenador que modifique la etiquetas de parrafo que esten dentro de un div*/